body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #f18484;
    color: white;
    text-align: center;
    padding: 20px;
}

.job-list, .detail-job {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background: #e7d8f3;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(91, 121, 255);
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #0077b6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #848b94;
}